@charset "utf-8";
/*
   V1
   Author: Tyler Colburn 
   Date: 5.2.20
   */
/* M2LO12 */
/*M2LO14 This isn't really the best example/use of this as they
are both the same color but if you were on a older system
the top one would work instead of the bottom possibly so then
it makes your website backwords compatable/progressive
enchancement */
html{
    background-color: white;
    background-color: hsl(0, 0%, 100%);
}
header{
    padding-bottom: 0px;
}
/*M2LO12*/
/*M2LO5 Demonstrate contextual selectors (CSS, specify 2 times, showing two different types
 of contextual selectors as shown in Figure 2-12, Contextual Selectors, of the textbook)*/
nav > ul > li {
    padding-top: 0px;
    list-style-type: none;
    padding: 5px;
    overflow: hidden;
    display:inline-block;
    /*M2LO15*/
    background-color: #333333;
    float: left;
    border-right: 1px solid #bbbbbb
} 
/* Need help with centering the image and keeping quality */
/*M2LO6 class selector*/
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*M2LO6 id selector*/
#footer1{
    text-align: center;
}
/*M2LO3 Demonstrate style precedence and inheritance in CSS (CSS, this item should be specified 2 times, 
once where precedence is applied and once where
 inheritance is applied; see 2-3d Style Specificity and Precedence,
  and 2-3e Style Inheritance)  */
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    /*M2LO15*/
    color: white;
    text-decoration: none; /* takes away underline/hyperlink atribute from showing*/
}
/*M2LO11 */
li:last-child{
    border-right: none;
}
/*M2LO11 */
li a:hover{
    /*M2LO15*/
    background-color: black;
}
/*M2LO7*/
a[href]{
    /*M2LO15*/
    color: rgb(52, 98, 250);
}
