@charset "utf-8";
/*
   V2
   Author: Tyler Colburn 
   Date: 5.14.20
   */
   /*M3LO1*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
html{
    background-color: black;
    background-color: hsl(0, 0%, 0%);
    color: white;
}
header{
    padding-bottom: 0px;
}
/*M4LO5 Demonstrate the use of text or box shadowing 
(CSS, note one of these two in your CSS and explain its impact on the HTML)*/
h1{
    text-shadow: 2px 2px #ff0000;
    font-size: 75px;
    text-align: center;
}
nav > ul > li {
    list-style-type: none;
    display: inline-block;
    background-color: #333333;
    border-right: .5px solid #bbbbbb;
} 
/*M3LO2 Demonstrate floating elements 
(CSS, note where you have specified a floating element and what its impact is)*/
nav.horizontal li{
    margin-top: 5px;
    display: block;
    float: left;
    width: 12.50%;
  }
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#footer1{
    text-align: center;
}
/*M3LO8A Demonstrate absolute 
positioning (CSS, note use in your CSS and describe what its impact is on the HTML)*/
/*M3LO3 Demonstrate a clearing floats 
(CSS, note where you have used a clear and what its impact is)   
M3LO11 Demonstrate -prefix- style browser extensions use in CSS 
(CSS note the use in your CSS and what the purpose is) -- cant figure out what this is exactly*/
footer{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-top: 30px;
    clear: both;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}
li:last-child{
    border-right: none;
}
li a:hover{
    color: hsla(0, 0%, 100%, 0.7);
    background-color: black;
}
a[href]{
    color: rgb(52, 98, 250);
}
body{
    display: flex;
    flex-direction: column;
}
body > div > section > p{
    font-size: 130%;
    line-height: 1.25;
    width: 40%;
}
img.resize {
    max-width:50%;
    max-height:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /*M3LO6 Demonstrate formatting a grid (CSS, note the CSS rules that do this and 
  what their impact is on the HTML; this can be old div-class based grids, or new CSS3 grids) kinda?*/
  section#left {
    float: left;
    width: 46%;
    margin-right: 2%;
    margin-left: 2%;
 }
 section#right {
    float: left;
    width: 46%;
    padding-bottom: 20px;
 }
 /*M4LO3 Demonstrate the use of rounded corners for borders (CSS) not working as expected*/
 /*M4LO4 Demonstrate the use of gradients (CSS) can't figure out where i would even need this really*/
 figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: 10%;
    border-radius: 35px;
  } 
  figcaption {
    border-radius: 35px;
    background-color: #333333;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }
  /*Not really useful for me but this is how it works
  M4LO8 Demonstrate the use of transformations for 2D or 3D images 
  (CSS, note one of these two in your CSS and explain its impact on the HTML)*/
    img{
        border-radius: 35px;
        opacity: 0.75;
    }